.item-container {
  border: 1px solid gray;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.id {
  margin-right: 20px;
}
.count {
  font-weight: 900;
  color: blue;
}

.item-container button {
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
