/*.container {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  justify-items: center;
  gap: 10px;
  margin: 10px;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}*/

.container {
  left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  left: -300px;
  transition: all 1s;
}

.disabled {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  transition: all 0.7s;
}

.container h3 {
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.container .buy {
  padding: 0 5px;
  margin: 0 70px;
  background-color: #6bdc84;
  letter-spacing: 10px;
  font-size: 24px;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
}
