.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.title {
  font-size: 16px;
}

.price {
  display: flex;
  font-size: 18px;
  color: red;
  margin-left: 5px;
}

.count {
  font-size: 18px;
  color: black;
}

.btns_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid gray;
  color: black;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.4s;
}

.btn_del {
  color: #e65b5b;
  opacity: 0.4;
  border: none;
  margin-left: 15px;
}

.red {
  padding: 2px 7px;
  /* color: #e65b5b; */
  /* border: 1px solid #e65b5b; */
}

.green {
  padding: 2px 5px;
  /* color: #6bdc84; */
  /* border: 1px solid #6bdc84; */
}

.btn:hover {
  opacity: 1;
}

.btn_del:hover {
  opacity: 1;
  animation: btnRotate 0.5s linear;
}

@keyframes btnRotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}
