.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  margin: 20px auto;
  width: 95%;
  height: 250px;
  border: 1px solid gray;
  border-radius: 5px;
}
.post {
  text-align: left;
}
.post span {
  color: gray;
  margin-left: 50px;
}
