.container {
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  box-shadow: 5px 5px 5px lightgray, -5px -5px 5px lightgray;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

.disabled {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  transition: all 0.7s;
}

.container h3 {
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.container .buy {
  padding: 0 5px;
  margin: 0 70px;
  background-color: #6bdc84;
  letter-spacing: 10px;
  font-size: 24px;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
}
